.App {
  text-align: center;
}

ul{
  list-style-type:none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*
  FFD700 gold
  F0E68C khaki
*/
header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
footer{
  background-color: #282c34;
  color: #FFD700;
  text-align: left;
}
footer .col-md:nth-child(3){
  text-align: right;
}
footer a{
  color: #FFD700;
}
footer a:hover{
  color: #F0E68C;
}
footer .color2{
color: #F0E68C;
}
footer .col-md{
  padding: 20px;
}
footer h1{
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  footer .hide{
    display: none;
  }
  footer .col-md{
    text-align: center;
  }
  footer .col-md:nth-child(3){
    text-align: center;
  }
  footer ul{
    padding: 0px 50px;
  }
}
